/* colors */
$darkBackgroundColor: #21242b;
$lightBackgroundColor: #fff;
$bodyContentColor: #25282f;

$lightGreenColor: #129279;
$darkGreenColor: #0c6351;
$greyColor: #9b9b9b;

/* body */
$bodyBackground: #fff;

/* article */
$excerptColor: $bodyContentColor;

/* links */
$linkColor: #fff;
$hoverColor: #fff;
$visitedColor: #fff;

/* lists */
$listNumberColor: $lightGreenColor;