@import "processed_sprites";

/* sprites */
.sprite,
.sprite-after:after,
.sprite-before:before { background: url(../images/sprites.png) 0 0 no-repeat; background-size: $spriteSheetSizeWidth $spriteSheetSizeHeight; }

.sprite,
.font-sprite { 
	position: relative; 
	@extend .replace; 
}

.sprite-before,
.sprite-after { position: relative; }

.sprite-after:after,
.sprite-before:before { content:""; display: inline-block; vertical-align: middle;}

.sprite-after.abs:after,
.sprite-before.abs:before { display: block; position: absolute; top:0; left:0; right:0; height:0;}


.twox.sprite, /* for extending */
.twox.sprite-before:before,/* for extending */
.twox.sprite-after:after,/* for extending */
.twox .sprite,
.twox .sprite-before:before,
.twox .sprite-after:after { background-image: url(../images/sprites@2x.png); }

.threex.sprite, /* for extending */
.threex.sprite-before:before,/* for extending */
.threex.sprite-after:after,/* for extending */
.threex .sprite,
.threex .sprite-before:before,
.threex .sprite-after:after { background-image: url(../images/sprites@3x.png); }

@each $sprite in $spriteList {

	/* declare variables */
	$class: #{nth($sprite,1)};
	$width: #{nth($sprite,4)};
	$height: #{nth($sprite,5)};
	$halfHeight: nth($sprite,5)/2;
	$backgroundX: #{nth($sprite,2)};
	$backgroundY: #{nth($sprite,3)};

	.sprite.#{$class},
	.sprite-after.#{$class}:after,
	.sprite-before.#{$class}:before { background-position: #{$backgroundX}px #{$backgroundY}px; }
	.sprite.#{$class},
	.sprite-after.#{$class}:after,
	.sprite-before.#{$class}:before { width: #{$width}px; padding: #{$height}px 0 0; }
	.sprite-after.abs.#{$class}:after,
	.sprite-before.abs.#{$class}:before { top: 50%; margin: -#{$halfHeight}px auto 0; }

}