$wrapperWidth: 1200px;

/* body */
body { font-family: $defaultFontStack; line-height: 1.4; overflow-x:hidden; font-weight:300;}

.page-wrapper { margin: 0 auto; position: relative; width: 1600px; max-width: 100%; }
.sw { width: $wrapperWidth; max-width: 95%; margin: 0 auto; position: relative; }

html,
body,
body .page-wrapper,
body .hero { height: 100%; }

.body { }
.body section { padding: 40px 0; background: #fff;}
.body section.nopad { padding:0; }
.body section.dark-bg { border-bottom: 1px solid $lightGreenColor; }
.body section.dark-bg,
.dark-bg { background-color: $darkBackgroundColor; color: #fff;}
.green-bg { background-color: $lightGreenColor; color: #fff; }

.body section.with-embellishment { position: relative; padding-top: 120px; }
.body section.with-embellishment:before { position: absolute; left:0; right:0; width: 70px; height: 70px; content:""; margin: 0 auto; top:20px; background: url(../images/sr-stack-logo-minimal.svg) center no-repeat; background-color: inherit; z-index: 2;}
.body section.with-embellishment:after { position: absolute; top: 55px; border-top: 1px solid $lightGreenColor; content:""; left:0; right:0; z-index: 1; }

hr.embellishment { border: solid $lightGreenColor; border-width: 1px 0 0; position: relative; margin: 60px 0;}
section>hr.embellishment:first-child { margin-top:20px;}
hr.embellishment:before { position: absolute; left:0; right:0; width: 70px; height: 70px; content:""; margin: 0 auto; top:-35px; background: url(../images/sr-stack-logo-minimal.svg) center no-repeat; background-color: #fff; z-index: 2;}
.dark-bg hr.embellishment:before { background-color: $darkBackgroundColor; }
