/* nav */
.nav-wrap { position: absolute; top:0; left:0; right:0; z-index: 4;}
nav { position: absolute; top:260px; right:0; 
	@include transform( translate3d(0,-100px,0) );
	@include transition( 0s $ease-in-out-sine );
	@include transition-property( transform, background );

	.small-nav & {
		@include transform( none );
		@include transition-duration( 0.2s );
		@include transition-delay( 0.2s );
		position: fixed;
		top:0;
		background-color: $darkBackgroundColor;
		border-bottom: 1px solid $lightGreenColor;
		box-shadow: 0 4px 4px rgba(0,0,0,0.2);
	}
}
nav>ul>li { display:block; text-align:center; position:relative; float: left;}
nav>ul>li>a { text-transform: uppercase; display: block; color: $lightGreenColor; font-size: 16px; padding: 12px 16px; position: relative; z-index: 2;}
nav ul div { display: block; position: absolute; top: 100%; left:0; right: -190px; z-index: -1; visibility: hidden; opacity:0; text-align:left;
	@include transform( translate3d(0,20px,0) );
	@include transition( all 0.4s $ease-in-out-sine );
	@include transition-property( opacity, transform );
}
nav ul div:before { content:""; top: -24px; border: solid transparent; border-width: 12px 14px; border-bottom-color: $lightGreenColor; left:26px; position: absolute; width:0; height:0;}

@media screen and (min-width: 1100px) {

	body:not(.small-nav) {
		nav>ul>li:nth-last-child(-n+2) div { left: -400px; right:0; }
		nav>ul>li:nth-last-child(-n+2) div ul { float: right; }
		nav>ul>li:nth-last-child(-n+2) div:before { left: auto; right: 26px; }
	}
}

nav>ul>li:hover div { opacity:1; z-index: 1; visibility: visible;
	@include transform( none );
}


nav ul ul { display: inline-block; background: $lightGreenColor; padding: 14px; box-shadow: 0 4px 4px rgba(0,0,0,0.6); }
nav ul ul a { display: block; padding: 6px 10px; color: #fff; font-size: 14px; }
nav ul ul a:hover { background: $darkGreenColor; }

.nav-top { position: absolute; top:20px; right:0; cursor: default; padding-top: 40px;}
.nav-top a { color: $lightGreenColor; }
.nav-top .fa:before { font-size: 28px; color: $lightGreenColor; margin-top: -10px; }
.nav-top .fa:hover:before { color: $darkGreenColor; }

.nav-meta-nav { font-size: 12px; text-transform: uppercase; border-top: 1px solid $lightGreenColor; padding-top: 4px; clear: both; position: relative; top: 1px; }
.nav-meta-nav a { display: inline-block; padding: 4px 8px; }

.nav-top .social-icons { position: absolute; top:0; right:0; padding: 0 6px 6px; border-left: 1px solid $lightGreenColor;}
.nav-top .social-icons a { width: 42px; height: 32px; }

#toggle-search { top: 6px; left: 15px; width: 30px; height: 40px; overflow:hidden; position: absolute;}
#toggle-search:before { @include fa-icon();
	content: $fa-var-search; margin-top: -18px; font-size: 28px; color: $lightGreenColor;
}
#toggle-search:hover:before { color: $darkGreenColor;}

button.toggle-nav { position: absolute; top: 12px; left: 10px; outline: none; display: none; color: #fff; line-height:40px; width: 40px; height: 40px; overflow:visible;}
button.toggle-nav:before { margin-top: -10px; height: 40px; width: 40px; border: 1px solid #fff; font-size: 28px; z-index: 21; background-color: $lightGreenColor; line-height:40px;}

.nav-wrap button.toggle-nav { text-indent: 0; padding-left:  52px; text-transform: uppercase; font-weight: bold; top: 22px;}
.nav-wrap button.toggle-nav:before { margin-top: -20px; }

/* reorganize nav/header at 1100px */
@mixin reorganizedNav() {
	nav { left:0; text-align: center; }
	nav>ul {
		@include display( flex );
	}
	nav>ul>li {
		@include flex-grow( 1 );
	}
	nav ul div { left: -100px; right: -100px; text-align:center;}
	nav ul div:before { left:0; right:0; margin: 0 auto; }
}

.small-nav {
	@include reorganizedNav();

	nav>ul {

		>li {

			>a {
				z-index:0;
				@include transition( 0.2s all $ease-in-out-sine );
			}

			&:hover>a {
				color: #fff;
				background: darken($lightGreenColor,5);
			}
		}

	}
}

@media screen and (max-width: 1100px) {
	@include reorganizedNav();

	nav>ul>li:last-child div { left: -400px; right:0; }
	nav>ul>li:last-child div ul { float: right; }
	nav>ul>li:last-child div:before { left: auto; right: 26px; }		
	
	header { padding-top: 20px; padding-bottom: 80px;}
	.header-logo { width: 200px; }
}

.mobile-nav-bg { display: none; }

/* collapse nav at 750px */
@media screen and (max-width: 750px) {

	.mobile-nav-bg { 
		background: rgba(0,0,0,0.6); 
		position: fixed; 
		top:0; left:0; right:0; bottom:0; 
		z-index: -1; 
		display: block; 
		visibility: hidden; 
		opacity:0; 
		cursor: pointer;
		@include transition( all 0.4s $ease-in-out-sine );
		
		.show-nav & {
			opacity:1; 
			visibility: visible; 
			z-index: 21; 
			cursor: pointer;
			@include transform( translateZ(0) );
		}
		
	}

	header { padding-bottom: 20px; }
	.header-logo { margin: 0 auto; }
	.nav-wrap { z-index: 22;
		@include transform( translate3d(-300px,0,0) );
		@include transition( 0.2s transform 0s $ease-in-out-sine );
	}
	
	button.toggle-nav { display: block; }
	
	.show-nav,
	.show-nav body { overflow: hidden; 
		@include transform( translateZ(0) );
	}
	.show-nav .nav-wrap { 
		@include transition-delay( 0.2s );
		@include transform( none );
	}
	
	.nav-wrap { position: fixed; top:0; left:0; bottom:0; width: 240px; background: #333; box-shadow: 4px 0 4px rgba(0,0,0,0.4); }
	.nav { position: absolute; top:0; left:0; right:0; bottom: -10px; }
	
	.nav-wrap,
	.ios .nav {
		overflow-y: scroll; 
		-webkit-overflow-scrolling: touch;
	}
	.ios .nav,
	.ios .nav>* {
		@include transform( translateZ(0) );
	}
	
	.nav .sw { max-width: 100%; position:static;}
	
	nav { position: static; padding-top:41px;
		@include transform( none );
	}
	nav>ul { display: block; text-align: left; }
	nav>ul>li { float: none; }
	nav>ul>li>a { background: #222; text-align:left;}
	nav ul div { position: static; opacity:1; visibility: visible; z-index: initial; 
		text-align:left;
		@include transform( none );
	}
	nav ul div:before { display: none; }
	nav ul ul  { display: block; float: none !important;}
	
	.nav-top { position: static; padding-top:0;}
	.nav-top .social-icons { position:static; border: none; padding: 10px; text-align: center; }
	.nav-meta-nav { padding-bottom: 20px; }
	.nav-meta-nav a { border-bottom: 1px solid $lightGreenColor; display: block; }

	
	#toggle-search { text-indent:0; position: absolute; top:0; left:0; right:0; background: #111; text-align: center; display: block; width: 100%; line-height: 40px; color: $lightGreenColor; text-transform: uppercase; font-weight: bold; border-bottom: 1px solid $lightGreenColor;}
	#toggle-search:before { position: static; display: inline-block; vertical-align: middle; margin: -3px 5px 0 0; font-size: 20px; font-weight: normal;}
	
}