/* buttons */
/* remove default button styling */
$buttonTextColor: #fff;
$buttonBackgroundColor: #{$lightGreenColor};
$buttonTextColorHover: #fff;
$buttonBackgroundColorHover: #{$darkGreenColor};

button { background: transparent; border: none; }

.button { font-family: $defaultFontStack; font-weight:normal; text-transform: uppercase; font-size: 14px; line-height: 1; padding: 10px 16px; display: inline-block; cursor: pointer;
	color: $buttonTextColor;
	background: $buttonBackgroundColor;
	@include transition( background 0.2s $ease-in-out-sine );
}
.button.with-ico:before { margin-right: 5px; }
.button.dark { background: $darkBackgroundColor; }

.button.sm { font-size: 10px; padding: 6px 10px;}
.button.big { font-size: 18px; padding: 16px 24px; }

a:hover .button,
.button:hover { 
	color: $buttonTextColorHover;
	background: $buttonBackgroundColorHover;
}

a:hover .button.dark,
.button.dark:hover { background: $darkGreenColor;}
