@import "4.2.0-gmap";
@import "4.2.1-article";
@import "4.2.2-forms";
@import "4.2.3-accordion";
@import "4.2.4-custom-dropdown";
@import "4.2.5-responsive-video";
@import "4.2.6-social";
@import "4.2.7-hero";
/* @import "4.2.8-dateinput"; */
/* @import "4.2.9-tabs"; */
@import "4.2.10-search-overlay";
@import "4.2.11-blocks";

/* fa defaults */
.fa { font-family: $defaultFontStack; }
.fa:before { font-family: FontAwesome; }
.fa-abs { position: relative; text-indent: -999em; }
.fa-abs:before { position: absolute; top: 50%; left:0; right:0; text-align: center; z-index: 2; text-indent:0; line-height:1; margin-top: -7px;}

.rows .row {position:relative;display:block;text-align:right }
.rows .row .l{position:absolute;top:0;left:0; float: none;}

.body address:first-line { text-transform: uppercase; font-weight: bold; color: $lightGreenColor;}
.body address { margin-bottom: 20px; }

.logo-wrap { padding: 25px; margin: 0 0 15px; border: 1px solid #fff;}
.logo-wrap img { width: 100%; }

.fa-button { text-align: center; color: $lightGreenColor; text-transform: uppercase; }
.fa-button:before { display: block; font-size: 32px; margin: 0 0 8px; }
.fa-button:hover { color: lighten($lightGreenColor,10); }

.section-title { margin: 0 auto 25px; width: 60%; min-width: 280px; max-width: 650px; text-align: center; }
.subtitle { color: #fff; }
.page-header h1,
.page-header .h1-style { margin:0; }

.home .split-screen .btn-group { display: table; width: 80%; margin: 20px auto 0; table-layout: fixed; border-spacing: 10px; }
.home .split-screen .btn-group>* { display: table-cell; vertical-align:middle;}

/* split screen themed */
.split-screen .col:first-child:after { position: absolute; top:-20px; bottom:-20px; right:-10px; content:""; border-right: 1px solid $lightGreenColor; z-index: 1; }
.split-screen .col:first-child:before { width: 40px; height: 40px; position: absolute; top:50%; margin-top: -30px; right: -30px; content:""; z-index: 2; background: url(../images/sr-stack-logo-minimal.svg) center no-repeat; background-color: $darkBackgroundColor; }

/* overview-blocks */
.overview-block { text-align: center; color: #fff; position: relative; z-index: 2;}
.overview-block:after { content:""; z-index: -1; position: absolute; top: -10px; left: -10px; right: -10px; bottom: -10px; background: #111; opacity:0;
	@include transition( opacity 0.2s $ease-in-out-sine );
}
.overview-block:hover:after { opacity:1; }
.overview-block .img-wrap { height:0; width: 100%; padding: 75% 0 0; margin: 0 0 15px; overflow:hidden; position: relative; }
.overview-block .img-wrap .img { position: absolute; top:0; left:0; bottom:0; right:0; background: center no-repeat; background-size: cover; opacity:0;
	@include transition-property( opacity, transform );
	@include transition-duration( 0.5s, 0.4s );
	@include transition-timing-function( $ease-in-out-sine, $ease-out-back );
}
.overview-block.loaded .img-wrap .img { opacity:1;}
.overview-block .hgroup { padding: 15px 0 30px; border: solid $lightGreenColor; border-width: 1px 0; position: relative; margin-bottom: 30px;}
.overview-block.with-btn { padding-bottom: 90px; position: relative; }
.overview-block.with-btn .btn-wrap { position: absolute; bottom:10px; left:0; right:0; text-align: center; border-top: 1px solid $lightGreenColor; padding-top: 30px; }
.overview-block .hgroup:before,
.overview-block .btn-wrap:before { position: absolute; left:0; right:0; margin: 0 auto; top: -15px; width: 30px; height: 30px; background: $darkBackgroundColor url(../images/sr-stack-logo-minimal.svg) center no-repeat; content:"";
	@include transition( background-color 0.2s $ease-in-out-sine );
}
.overview-block:hover .hgroup:before,
.overview-block:hover .btn-wrap:before { background-color: #111; }
.overview-block .hgroup:before { top: auto; bottom: -15px; }
.overview-block p { max-width: 90%; margin: 20px auto; font-size: 14px; }

@media screen and (max-width: 500px) {
	.home .split-screen .btn-group,
	.home .split-screen .btn-group>*  { display: block; }
	.home .split-screen .btn-group>* { margin: 0 0 10px; }
	
	.overview-block.with-btn { padding-bottom:0; }
	.overview-block.with-btn .btn-wrap { position: static; margin-top: 10px; }
	.overview-block .img-wrap { display: none; }
	
}

.contact-module { color: #fff; background: $lightGreenColor; border-radius: 8px; padding: 20px; text-align: center; }
.contact-module>span { display: inline-block; vertical-align: middle; font-size: 24px; width: 140px; border-right: 1px solid $darkGreenColor; padding-right: 15px; margin-right: 15px; }
.contact-module .btn-group { display: inline-table; table-layout: fixed; vertical-align: middle; }
.contact-module .btn-group .fa-button { display: table-cell; vertical-align: middle; color: #fff; padding: 10px; }
.contact-module .btn-group .fa-button:hover { color: lighten($lightGreenColor,20); }

@media screen and (max-width: 600px) {
	.contact-module>span { border: none; padding:0; margin:0; width: auto; padding: 0 0 15px;}
	.contact-module .btn-group { display: table; width: 100%;}
}

.excerpt-block { text-align: center; color: inherit; padding-bottom: 30px; position:relative; z-index:2; margin-bottom: 30px;}
.excerpt-block:before { content:""; border-bottom: 1px solid $lightGreenColor; position: absolute; bottom:0; left:0; right:0; z-index: -1;}
.excerpt-block:after { content:""; position: absolute; top: -10px; left: -10px; right: -10px; bottom: -20px; background: #f1f1f1; z-index: -2; opacity:0; 
	@include transition( opacity 0.2s $ease-in-out-sine );
}
.excerpt-block:hover:after { opacity:1; }
.excerpt-block .hgroup { padding-bottom: 15px; border-bottom: 1px solid $lightGreenColor;}
.excerpt-block p { font-size: 14px; }
.excerpt-block .more { width:  30px; height: 30px; text-align: center; line-height: 30px; border: 1px solid $lightGreenColor; border-radius: 15px; color: $lightGreenColor; position: absolute; left:0; right:0; bottom:-15px; margin:0 auto; }
.excerpt-block .more:after { background: #fff; position: absolute; left:-10px; right: -10px; content:""; top:0; bottom:0; z-index: -1; }
.excerpt-block .more,
.excerpt-block .more:after {
	@include transition( all 0.2s $ease-in-out-sine );
}
.excerpt-block .more:before { font-size: 22px; margin-top: -9px;}
.excerpt-block:hover .more { background: $lightGreenColor; color: #fff; }
.excerpt-block:hover .more:after { background: #f1f1f1; }

.article-block { padding-bottom: 60px; color: inherit; position: relative; z-index: 2;}
.article-block:before { content:""; position: absolute; top: -10px; left: -10px; right: -10px; bottom: -10px; background: #f1f1f1; z-index: -1; opacity:0;
	@include transition( opacity 0.2s $ease-in-out-sine );
}
.article-block:hover:before { opacity:1; }
.article-block:after { content:""; position: absolute; bottom: 45px; left:0; right:0; border-top: 1px solid $lightGreenColor; }
.article-block .title { padding: 0 0 10px; margin: 0 0 10px; border-bottom: 1px solid $lightGreenColor; min-height: 50px;}
.article-block .button { position: absolute; bottom:0; left:0; }
.article-block p { font-size: 14px; }


.accordion .filter-arrows { position: absolute; top:50%; margin-top: -21px; right:0; font-size: 18px; bottom:0; padding:0; opacity:0;
	@include transition( opacity 0.5s $ease-in-out-sine );
}
.expanded .filter-arrows { opacity:1; }
.accordion .filter-arrows:after { content:""; top: 8px; bottom: 8px; left: 50%; border-left: 1px solid #000; position: absolute; }
.accordion .filter-arrows button { width: 34px; text-align: center; line-height: 42px; color: $lightGreenColor; font-size: 20px; display: block; float: left; margin-left: 1px;}
.accordion .filter-arrows button:hover { background: $lightGreenColor; color: #fff; }

.sidebar.padded-blocks>div { padding: 15px; margin-bottom: 1px; }
.sidebar .title { background: $lightGreenColor; color: #fff;}
.sidebar .title.pad { padding: 15px;}

.sidebar .archives .title { margin-bottom:0; }
.sidebar .archives .accordion-item { margin-top: 2px; }

.sidebar .in-this-section ul { margin: 15px; }
.sidebar .in-this-section ul a { text-indent:0; padding-left: 24px; color: #fff; display: inline-block; margin: 4px 0;}
.sidebar .in-this-section ul .selected a,
.sidebar .in-this-section ul a:hover { color: $lightGreenColor; }
.sidebar .in-this-section ul a:before { right:auto;
	content: $fa-var-chevron-circle-right;
}

.did-you-know,
.did-you-know .ghost { counter-reset: did-you-know; }
.did-you-know .ghost~.ghost { counter-reset:none; }
.did-you-know li { padding: 8px; margin: 0 0 10px; position: relative; padding-left: 55px; font-size: 14px;
	@extend .dark-bg; 
}

.did-you-know li:before { content:counter(did-you-know); position: absolute; top:50%; margin-top: -10px; color: $lightGreenColor; width: 50px; text-align: center; font-size: 20px; line-height:1; left:0;
	content:counter(did-you-know); counter-increment:did-you-know;
}
.did-you-know li:after { left: 40px; top: 6px; bottom: 6px; content:""; border-right: 1px solid $lightGreenColor; position: absolute; }
.did-you-know .links { position: relative; top: auto; margin:0; background: $darkBackgroundColor; overflow:hidden;}
.did-you-know .links a { width: 20px; height: 30px; color: $lightGreenColor;
	position: relative; 
	@extend .fa-abs;
}
.did-you-know .links a:hover { color: lighten($lightGreenColor,10); }
.did-you-know .links a.next { float: right; }
.did-you-know .links a.previous { float: left; }
.did-you-know .links a.previous:before {
	content: $fa-var-chevron-left;
}
.did-you-know .links a.next:before {
	content: $fa-var-chevron-right;
}

.pre-footer-modules .did-you-know ol { list-style-type: none;
	@include display( flex );
	@include flex-flow( row );
	@include align-items( stretch );
}
.pre-footer-modules .did-you-know li { width: 50%; background-color: $lightGreenColor; margin-left:20px; padding-left: 65px;}
.pre-footer-modules .did-you-know li:before { color: $bodyContentColor; }
.pre-footer-modules .did-you-know li:after { border-color: $bodyContentColor; left: 45px;}
.pre-footer-modules .did-you-know li:first-child { margin-left:0; }
.pre-footer-modules .did-you-know .links { background-color: $lightGreenColor; }
.pre-footer-modules .did-you-know .links a { color: #fff; }

.pre-footer-modules h3 { position: absolute; top:0; }
.pre-footer-modules .item { padding-top: 50px; position: relative; }

/* subscribe block */
.subscribe-block { padding: 20px; font-size: 14px; }
.pre-footer-modules .subscribe-block { position: absolute; top: 50px; bottom:0; left:0; right:0;}
.subscribe-block .single-form { background-color: $darkBackgroundColor; border-color: transparent; margin-top: 15px; }
.subscribe-block .single-form:after { border-color: $lightGreenColor; }
.subscribe-block .single-form button { color: $lightGreenColor; }
.subscribe-block .single-form input { padding: 13px; color: $lightGreenColor;
	@include placeholder {
		color: $lightGreenColor;
	}
}

@media screen and (max-width: 850px) {
	.pre-footer-modules .subscribe-block { position: static; }
}

@media screen and (max-width: 600px) {
	.pre-footer-modules .did-you-know ol { display: block; }
	.pre-footer-modules .did-you-know li { width: 100%; margin: 0 0 10px; }
}

/* 404 page */
.error404-box { padding: 40px; margin-top: 20px;}
.error404-box .button { width: 200px; margin-bottom: 10px;}
.error404-box form { width: 70%; min-width: 300px; margin: 10px auto 0;}
.error404-box input { padding: 14px; font-size: 18px; }
.error404-box button { color: $lightGreenColor; }

@media screen and (max-width: 600px) {
	.error404-box { padding: 20px; }
}

/* filter section */
.filter-area { }
.filter-bar { background: $lightGreenColor; color: #fff; line-height:56px; height:56px; }
.filter-bar .count { display: inline-block; padding-right: 10px;}
.filter-bar .selector { background: $darkBackgroundColor; }
.filter-bar .selector .value { color: $lightGreenColor;}
.filter-bar .selector select:focus+.value,
.filter-bar .selector:hover .value { color: #fff;}

.filter-bar .single-form { background: $darkBackgroundColor; border: none; margin: 8px 0 0; float: right; line-height:1; padding-right: 40px;}
.filter-bar .single-form:after { border-color: $lightGreenColor; }
.filter-bar .single-form button,
.filter-bar .single-form input { color: $lightGreenColor; }
.filter-bar .single-form input { padding: 12px 12px 13px; line-height:1;}
.filter-bar .selector:hover .value { color: #fff; }

.filter-bar .filter-controls { float: right; height:100%; padding: 8px 0;}
.filter-controls button { text-indent:-999em; width: 38px; background: $darkBackgroundColor; overflow:hidden; position: relative; color: #fff; line-height:40px; height:100%; display:block; float:left; margin-left: 1px;
	@include transition( background 0.15s $ease-in-out-sine );
}
.filter-controls button:before {
	@include fa-icon();
	text-align:center; position: absolute; top:50%; margin-top: -10px; line-height:1; left:0; right:0; bottom:0; text-indent:0; font-size: 20px;
}
.filter-controls button.next:before { content:$fa-var-chevron-right;}
.filter-controls button.previous:before { content:$fa-var-chevron-left;}
.filter-controls button:hover { background: $darkGreenColor; }
.filter-bar .count { text-transform: uppercase; }
.filter-bar .num { display: inline-block; padding: 8px 12px; border-radius: 18px; border: 2px solid #fff; line-height: 1; vertical-align: middle; margin: -4px 4px 0 0;}
.filter-bar .filter-bar-buttons { float: right; }
.filter-bar .button { margin: 6px 12px 0 0; }

@media screen and (max-width: 700px) {
	.filter-bar .sw { position: static; }
	.filter-bar.with-search,
	.filter-bar.with-controls { padding-bottom: 50px; height: auto; position: relative; }

	.filter-bar .filter-controls { position: absolute; bottom: -3px; right: 2.5%; top: auto; height: auto; }
	.filter-bar .single-form { position: absolute; bottom: 5px; left: 2.5%; }

	.filter-bar .selector { float: right; line-height: 32px; margin-top: 10px;}
}

@media screen and (max-width: 500px) {
	.filter-bar { text-align: center; }
	.filter-bar .selector { float: none; display: block; }
	.filter-bar .single-form { max-width: 200px; }
}

.latest-block { background: $lightGreenColor;
	@include display( flex );
	@include flex-flow( row );
	@include align-items( stretch );
	
}
.latest-block>div { padding: 40px 40px 100px; position: relative; }
.latest-block .button { position: absolute; bottom:40px; left: 40px; }
.latest-block .featured { width: 60%; border-right: 1px solid $darkBackgroundColor; padding-left: 100px; }
.latest-block .featured .button { left: 100px; }
.latest-block .featured time { position: absolute; top: 40px; left: 20px; }
.latest-block .tag { text-transform: uppercase; font-weight: bold; font-size: 16px; color: $bodyContentColor;}
.latest-block .title { color: #fff; }
.latest-block .article-body { color: #fff; }
.latest-block .aside { width: 40%; }
.latest-block .aside .title { margin: 24px 0 0;}
.latest-block .aside time { margin-bottom: 15px; display:block; }

@media screen and (max-width: 950px) {
	.latest-block { display: block; }
	.latest-block .featured,
	.latest-block .aside { width: 100% !important; border: none; }
}

@media screen and (max-width: 600px) {
	.latest-block>div { padding: 20px 20px 50px; }
	.latest-block .featured { padding-left: 20px; padding-top: 60px; border-bottom: 10px solid $darkBackgroundColor;}
	.latest-block .featured time { left: auto; right:0; top:0; }
	.latest-block .featured .button,
	.latest-block .button { left: 20px; bottom: 10px;}
}

.block-time { color: #fff; text-align: center; text-transform: uppercase; width: 60px; font-size: 14px; line-height:1;}
.block-time span { display: block; background: $darkBackgroundColor; }
.block-time .day { font-size: 22px; padding-top: 10px;}
.block-time .month { padding-bottom: 10px; }
.block-time .year { margin-top: 1px; padding: 4px;}

.inline-read-more { color: lighten($lightGreenColor,20); display: inline-block; margin-top: 8px; 
	@include transition( color 0.2s $ease-in-out-sine );
}
.inline-read-more:hover { color: #fff;}

.inline-time { color: $bodyContentColor; font-size: 13px; }

.latest-block .swiper-wrapper { position:static; }
.latest-block .aside .links { position: absolute; bottom: 40px; right: 40px; top: auto; margin:0; left: auto;}
.latest-block .aside .links a { width: 50px; height: 50px; line-height: 1; background: $darkBackgroundColor; position: relative; text-indent: -999em; text-align: center; overflow: hidden; margin-left: 1px; display:block; float: left;
	@include transition( background 0.2s $ease-in-out-sine );
}
.latest-block .aside .links a:hover { background: $darkGreenColor; }
.latest-block .aside .links a:before { 
	@include fa-icon();
	color: #fff; text-indent:0; font-size: 26px; line-height: 1; position: absolute; top: 50%; margin-top: -13px; display:block; left:0; right:0;
}

.latest-block .aside .links a.next:before { 
	content: $fa-var-chevron-right;
}
.latest-block .aside .links a.previous:before { 
	content: $fa-var-chevron-left;
}