/* search */
@include keyframes(spinner) {
	0% { transform: rotate(0deg);  }
	100% { transform: rotate(360deg); }
}

.show-search body { overflow: hidden; }
.show-search .search-overlay {
	@include transform( none );
}

.search-overlay form { padding: 20px 50px 20px 20px; position: relative; background: #fff; }
.search-overlay .close {
	@include transition( opacity 0.25s $ease-in-out-sine );
}

.search-overlay .close { position: absolute; width: 32px; height: 32px; display: block; top: 50%; margin-top: -16px; right:20px; opacity: 0.5; z-index: 100; cursor: pointer;}
.search-overlay .close:before { font-size: 32px; line-height: 1; margin-top: -16px; color:#000;}
.search-overlay .close:hover { opacity: 1; }

.show-search .search-overlay.no-results form { top: 50%; margin-top: -40px; }
.search-overlay form { top:0; margin-top: -100px;
	@include transition( none 0.5s $ease-in-out-back 0s );
	@include transition-property( top,margin );
}

.show-search .search-overlay form {
	@include transition-delay( 0.25s );
}

.search-overlay { position: fixed; top:0; bottom:0; left:0; right:0; background: rgba(0,0,0,0.8); z-index: 999;
	@include transform( translate3d(0, -100%, 0) );
	@include transition( transform 0.25s $ease-in-out-sine 0.5s );
}

.show-search .search-overlay { z-index: 999; visibility: visible;
	@include transition-delay( 0s );
}

.search-overlay .search-content { width: 1400px; margin: 0 auto; overflow: hidden; color: #fff; position: relative; height: 100%; max-width: 90%; overflow: hidden; }
.search-overlay .search-content input { width: 100%; border: none; background: #fff; color: #000; font-size: 34px; outline: none; font-family: $defaultFontStack;
	@include placeholder {
		color: #000; font-size: 34px; font-family: $defaultFontStack;
	}
}

.search-overlay.with-results .search-content { position: absolute; left:0; right:0; top: 50%; margin-top: -350px; height: 700px; max-height: 100%;}
.no-results.search-overlay .search-content { background: none; }

@media screen and (max-height: 650px) {

	.search-overlay form { padding:15px 50px 15px 15px; }
	.search-overlay .search-content input { font-size: 20px; 
		@include placeholder { font-size: 20px; }
	}

}

@media screen and (max-width: 750px) {
	.search-overlay .search-content { max-width: 100%;}
}