/* hero */
.page-wrapper { border: 1px solid transparent; }
.hero .item { display: block;}
.hero { background-color: #fff; padding:0; position: relative; z-index: 2; overflow: hidden; }
.hero .swiper-wrapper { position: absolute; top:0; left:0; width: 100%; }
.hero .swiper-wrapper,
.hero .swipe,
.hero .swipe-wrap,
.hero .swipe-wrap>div,
.hero .item { height: 100%; }

.hero .swipe-wrap>div { text-align: center;}

.hero .caption { position: absolute; top: 220px; left:0; right:0; bottom:0; z-index: 10; margin:0 auto; width: 550px; max-width: 90%; font-size: 20px; 
	@include transform( translateZ(0) );
	@include display( flex );
	@include flex-direction( column );
	@include justify-content( center );
}

.hero .caption .title { margin: 0 0 15px; }
.hero .caption .button { margin: 15px 0 0; }

.hero.single { height: 380px; }
.hero.single .swipe-wrap>div { float: none; }

.hero .item { position: absolute; top:0; left:0; width: 100%; z-index: 1; background-repeat: no-repeat; background-size: cover; background-position: center center;
	@include transition( opacity $ease-in-sine 0.4s );
}

.hero .swipe,
.hero .item { opacity:0;
	@include transition( opacity $ease-in-sine 0.4s );
}

.hero .swipe {
	@include transition-delay( 0.2s );
}

.hero.loaded .swipe,
.hero .loaded>.item { opacity:1; }


/* because anything taller is just silly */
body .hero { max-height: 700px; }
body.home .hero { max-height: 900px; }

@media screen and (max-width:$wrapperWidth) {
	body.home .hero { min-height: 650px; }
}

@media screen and (max-width:750px) {
	body.home .hero { min-height:0; }
	.hero .caption { top: 150px; }
}

@media screen and (max-width:500px) {
	.hero .caption .sw { background: rgba(255,255,255,0.8); text-align: left; width: auto; padding: 20px; font-size: 16px; max-width: 100%; }
}