/*
.social .fa { position: relative; width: 20px; height: 20px; vertical-align:top; cursor: pointer;}
.social .fa:before{ font-size: 16px; position: absolute; text-indent:0; text-align: center; top:0; line-height: 20px; left:0; right:0; margin:0;}
*/